/* css for navigation bar and menu */
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
}
.header {
    display: block;
    margin: 0 auto;
    width: 98.5%;
    max-width: 98.5%;
    box-shadow: none;
    position: fixed;
    height: 54px!important;
    overflow: hidden;
    z-index: 10;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    
    
}
.header h1 {
    padding-left: 40%;
    position: absolute;
    height: 20px;
    text-align: center;
}
.header .headerRight {
     background: url("../images/header/header-sprite.png") no-repeat 0 -162px; 
     height: 54px; 
     position: absolute; 
     right: -3; 
     top: 0; 
     width: 51px; 
     z-index: 1; 
}
.header .headerLeft {
    background: url("../images/header/header-sprite.png") no-repeat 0 -108px; 
    height: 54px;
    left: -5; 
    position: absolute; 
    top: 0; 
    width: 51px; 
    z-index: 1; 
}
.header .headerMid { 

    background: url("../images/header/header-sprite.png") repeat-x 0 0; 
    color: #f3aa55; 
    display: block; 
    font-family: "Exocet Blizzard Light", "Palatino Linotype", "Times", serif; 
    padding: 15 42px; 
    position: relative; 
    text-shadow:-1px 2px 0 #000; 
    text-transform: uppercase; 
    text-align: center;
    transition: color 0.2s; 
    height: 54px;
}
.header .headerMid::after {

    background: url("../images/header/header-sprite.png") repeat-x 0 -54px;
    content: "";
    height: 54px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: left;
}
.mainInner div{
    display:table-cell;
    vertical-align: left;
    
    
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    
    border-radius: 10px;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    
}
.sidebarMenuInner li{
    list-style: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    
    cursor: pointer;
    border-bottom: 1px solid rgba(5, 0, 0, 0.568);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.363);
}
.sidebarMenuInner li a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
   
    top: 10px;
    left: 45px;
    height: 22px;
    width: 22px;
}
.spinner {
    background: url("../images/header/header-sprite.png") no-repeat;
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    margin-top: 10px;
    height: 3px;
    width: 100%;
    background-color: #f3aa55;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(90deg);
    margin-left: -7px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 5px;
}
#divInner {
    background-color: rgb(31, 30, 30);
    padding: 10px;
    border-radius: 20px;
    border: black solid 10px;
    display: inline-block;
}
/*end css for nav and menu*/